body {
	min-height: 100%;
}

/*------------------------GLOBAL-----------------------*/

.background-light {
	background: #ffffff;
}

.background-dark {
	background: #727272;
}

.background-div-light {
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
}

.background-div-dark {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.20),
	0px -2px 20px rgba(0, 0, 0, 0.25);
}

.nav-light {
	color: rgba(116, 44, 145, 0.6);
}

.nav-light-active, .nav-light-active:hover, .nav-light:hover {
	color: rgba(116, 44, 145, 1);
}

.nav-dark {
	color: rgba(97, 253, 217, 0.6);
}

.nav-dark-active, .nav-dark-active:hover, .nav-dark:hover {
	color: rgba(97, 253, 217, 1.0);
}

.input-light {
	color: rgba(116, 44, 145, 1);
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
}

.input-light:focus {
	color: rgba(116, 44, 145, 1);
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow: 0 0 3px 5px rgba(116, 44, 145, 0.2);
}

.input-dark {
	color: rgba(97, 253, 217, 0.6);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.2),
	0px -5px 15px rgba(0, 0, 0, 0.2);
}

.input-dark:focus {
	color: rgba(97, 253, 217, 0.6);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 3px 5px rgba(97, 253, 217, 0.2);
}

.btn {
	transition: 0s;
}

.btn-own-light {
	color: rgba(116, 44, 145, 1);
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
}

.btn-own-light:hover {
	color: white;
	background-color: rgba(116, 44, 145, 0.6);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
}

.btn-own-dark {
	color: rgba(97, 253, 217, 0.6);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.2),
	0px -5px 15px rgba(0, 0, 0, 0.2);
}

.btn-own-dark:hover {
	color: white;
	background-color: rgba(97, 253, 217, 0.6);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.2),
	0px -5px 15px rgba(0, 0, 0, 0.2);
}

#content {
	padding-bottom: 40px;
}

#made-with-love {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 40px;
}

/*-------------------BACKGROUND PAGE-------------------*/

.dark {
	position: fixed;
	z-index: 0;
	min-height:100%;
	width:100%;
	background: #727272;
	opacity: 0;
	transition: opacity 1s;
}

.page {
	position:absolute;
	min-height:100%;
	width:100%;
}

/*--------------------------MENU------------------------*/

#header{
	position: relative;
	z-index: 1;
	margin: 10px;
	margin-top: 20px;
    border-radius: 5px;
}

#nav-space{
	display: none;
}

.nav.justify-content-end.settings-small{
	display: none;
}

#nav-part {
	padding-right: 0%;
	width: 33.33%;
	z-index: 1;
}

#logo {
	width: 40px;
	height: 40px;
}

#logo:hover {
	animation: spin linear 2s infinite;
}

@keyframes spin {
	100% {transform: rotate(360deg);}
}

.nav-link {
	transition: color 0s;
}

#link-nav {
	transition: color 0s;
}

#settings-icon {
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	top: 4px;
	width: 35px;
	height: 17px;
	z-index: 1;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(224, 224, 224);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider-light {
	border:  rgba(116, 44, 145);
}

.slider-dark {
	border: rgba(97, 253, 217, 1.0);
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2.5px;
	bottom: 2.25px;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider-light:before {
	background-color:  rgba(116, 44, 145, 0.6);
}

.slider-dark:before {
	background-color:  rgba(97, 253, 217, 0.4);
}
  
input:checked + .slider-light {
	background-color: rgba(116, 44, 145, 0.6);
}

input:checked + .slider-dark {
	background-color: rgba(97, 253, 217, 0.4);
}
  
input:focus + .slider-light {
	box-shadow: 0 0 1px rgba(116, 44, 145, 0.6);
}

input:focus + .slider-dark {
	box-shadow: 0 0 1px rgba(97, 253, 217, 0.6);
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}

.slider.round {
	border-radius: 16px;
}
  
.slider.round:before {
	border-radius: 50%;
}

/*------------------------MENU-SM-----------------------*/

#menu-little{
    width: 60%;
    display: none;
    position: relative;
	z-index: 1;
    margin: 20px;
    margin-left: 20%;
    border-radius: 5px;
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
}

#menu-item{
	text-align: center;
	cursor: pointer;
}

#menu-item-active{
	text-align: center;
}

/*------------------------FILTERS-----------------------*/

#filters{
	padding-top: 10px;
}

#search-input, #order-by-input, #page-input{
	position: relative;
	z-index: 1;
	border: 0px;
}

#button-addon2, #btn-access-page, #btn-new-config, #basic-addon3 {
	position: relative;
	z-index: 1;
	margin-left: 0px;
	border: 0px;
}

#button-addon2:hover, #btn-access-page:hover, #btn-new-config:hover {
	margin-left: 0px;
	border: 0px;
}

/*--------------------------GRID------------------------*/

.auto-grid {
	position: relative;
	z-index: 1;
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
	list-style-type:none;
	padding-left: 10px;
	padding-right: 10px;
}
  
.api-summary{
	cursor: pointer;
}
  
.widget{
	width: 60%;
	align-items: center;
	margin: auto;
	margin-right: 0%;
}
  
.widget-summary{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border-radius: 10px;
}
  
.widget-summary:hover{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border-radius: 10px;
}

.widget-light {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow:
	0px 3px 15px rgba(0, 0, 0, 0.10),
	0px -3px 15px rgba(0, 0, 0, 0.10);
}

.widget-light:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid rgba(116, 44, 145, 0.4);
}

.widget-dark {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow:
	0px 3px 15px rgba(0, 0, 0, 0.20),
	0px -3px 15px rgba(0, 0, 0, 0.20);
}

.widget-dark:hover {
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(97, 253, 217, 0.6);
}

.chart-text {
	-moz-transform: translateY(0.25em);
	-ms-transform: translateY(0.25em);
	-webkit-transform: translateY(0.25em);
	transform: translateY(0.25em);
}
  
.chart-number {
	font-size: 0.7em;
	line-height: 1;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
}
  
.chart-label {
	font-size: 0.3em;
	text-transform: uppercase;
	text-anchor: middle;
	-moz-transform: translateY(0.7em);
	-ms-transform: translateY(0.7em);
	-webkit-transform: translateY(0.7em);
	transform: translateY(0.7em);
}
  
.data{
	position: relative;
	width: 34%;
	float:left;
	margin: 3% 3% 3% 3%;
}
  
#name{
	font-size: 1rem;
	text-align: center;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	margin-top: 20%;
}
  
#launch-date {
	font-size: 0.8rem;
	text-anchor: middle;
	text-align: left;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20%;
}

.widget-text-light {
	fill: black;
	color: black;
}

.widget-text-dark {
	fill: white;
	color: white;
}

#pages-access-div{
	margin-bottom: 20px;
}

/*------------------------SUMMARY-----------------------*/

#summary-data-div {
	margin-bottom: 5vh;
	position: relative;
	z-index: 1;
}

#summary-info {
	margin-top: 10vh;
	padding-bottom: 8px;
}

#sum-row {
	position: relative;
	z-index: 1;
	--auto-grid-min-size: 27rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
	list-style-type:none;
	padding-left: 10px;
	padding-right: 10px;
}

.sum-col {
	border-radius: 5px;
	position: relative;
	border: 0px;
	z-index: 1;
	padding: 10px;
	cursor: grab;
}

#summary-additional {
	display: flex;
}

#total-reports {
	position: relative;
	z-index: 1;
}

#btn-new-graph {
	display: flex;
	margin-top: 15px;
}

.tooltip-text {
    position: absolute;
    display: none;
    background-color: rgba(235, 235, 235, 0.6);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 12px;
    border-radius: 3px; 
    transition: opacity 1s ease-out;
    min-width: 150px;
}
.tooltip-text-method {
    position: absolute;
    display: none;
    background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 12px;
    border-radius: 3px; 
    transition: opacity 1s ease-out;
	min-width: 150px;
	margin-left: 110px;
}
.far {
    transition: 0s;
}
.far.fa-question-circle:hover + .tooltip-text {
    display: block;
    color: black;
    animation: fadeIn 1s;
}
.far.fa-question-circle:hover + .tooltip-text-method {
    display: block;
    color: black;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#new-graph-form {
	overflow: auto;
	max-height: 450px;
	margin: 15px;
	padding: 20px;
	z-index: 1;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translateX(-52%) translateY(-50%);
  	-webkit-transform: translate(-52%,-50%);
	transform: translate(-52%,-50%);

	border-radius: 5px;
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
}

.custom-graph-remove:hover {
	text-decoration: underline;
}

#remove-row-form {
	top: 45%;
	left: 50%;
	position: relative;
	-ms-transform: translateX(-100%) translateY(-100%);
  	-webkit-transform: translate(-100%,-100%);
	transform: translate(-100%,-100%);
	cursor: pointer;
}

.form-control {
	border: 0px;
}

.input-group-text {
	border: 0px;
}

.form-select {
	border: 0px;
}

.form-mode {
	transition: 1s;
}

.form-light {
	background-color: rgb(255, 255, 255);
}

.form-dark {
	background-color: rgb(57, 57, 57);
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	margin-left: 0%;
}

/*-------------------------CONFIG-----------------------*/

#config {
	position: relative;
	margin-top: 10vh;
	margin-bottom: 5vh;
	border-radius: 5px;
	padding: 20px;
	z-index: 1;
}

#config-title, #config-user, #config-method {
	position: relative;
	padding-bottom: 15px;
	z-index: 1;
}

#config-data {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.method-light {
	vertical-align: middle;
	color: rgb(165, 165, 165);
	z-index: 1;
}

.method-dark {
	vertical-align: middle;
	color: #000;
	z-index: 1;
}

.method-light-active {
	vertical-align: middle;
	color: #000;
	z-index: 1;
}

.method-dark-active {
	vertical-align: middle;
	color: rgb(255, 255, 255);
	z-index: 1;
}

.form-check-input .radio-mode .radio-light:checked {
	background-color: rgba(116, 44, 145, 0.0);
}

.form-check-input .radio-mode .radio-dark:checked {
	background-color: rgba(116, 44, 145, 0.0);
}

.radio-light:checked {
	background-color: rgba(116, 44, 145, 0.8);
	border: rgba(116, 44, 145, 1);
	box-shadow: none;
}

.radio-dark:checked {
	background-color: rgba(97, 253, 217, 0.5);
	border: rgba(97, 253, 217, 1);
	box-shadow: none;
}

.message-no {
	opacity: 0;
	visibility: hidden;
}

.message {
	animation: fade ease-in-out 7s;
	animation-fill-mode: forwards;
}

@keyframes fade {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#no-data-message {
	position: relative;
	background-color: rgba(116, 44, 145, 0.6);
	color: #ffffff;
	z-index: 1;
}

#message, #neg-message, #reset-message, #no-data-message {
	cursor: context-menu;
}

#delete-icon, #inlineRadio1, #inlineRadio2 {
	cursor: pointer;
}

#method-info-icon{
	position: relative;
	vertical-align: middle;
	z-index: 1;
	color: #000;
	margin-top: 13px;
	margin-left: 8px;
}

#method-update {
	display: flex;
}

#config-path-input {
	position: relative;
	z-index: 1;
	border: 0px;
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
}

/*-------------------------MEDIA------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#nav-space{
		width: 33.33%;
		display: block;
	}
	.nav.links {
		display: none;
	}
	.nav.justify-content-end.settings{
		display: none;
	}
	.nav.justify-content-end.settings-small{
		display: block;
	}
	.nav-link.settings-icon{
		text-align: end;
	}
	#search-div, #order-div, #page-div, #reset-div{
		width: 80%;
	}

	#sum-row {
		--auto-grid-min-size: 16rem;
	}
	#total-reports {
		margin-top: 15px;
	}
	#new-graph-form{
		max-width: 250px;
		transform: translate(-56%,-50%);
	}
	#form-new {
		display: block;
	}
	.form-property-lv1, .form-property-lv2,
	.form-property-lv3, .form-property-lv4,
	.form-property-lv5 {
		width: 100%;
	}
	#remove-row-form {
		top:0%;
		left:0%;
		transform: translate(100%, -50%);
	}
	#new-graph-val-name, #new-graph-val-label, #new-graph-val-value,
	#new-graph-val-taken, #new-graph-val-numeric {
		margin-bottom: 10px;
	}

	#config-method {
		display: inline;
	}
	#method-title {
		width: 100%;
		margin-bottom: 10px;
	}
	#method-option {
		width: 50%;
		margin-bottom: 10px;
	}
	#method-update {
		width: 10%;
		display: inline;
	}
	#config-messages-div {
		margin-top: 15px;
		width: 100%;
	}
	#method-info-icon {
		margin-top: 5px;
	}
	.tooltip-text-method {
		margin-top: 20px;
		margin-left: 0px;
	}
	#config-data {
		margin-top: 0px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
	#nav-space{
		width: 33.33%;
		display: block;
	}
	.nav.links {
		display: none;
	}
	.nav.justify-content-end.settings{
		display: none;
	}
	.nav.justify-content-end.settings-small{
		display: block;
	}
	.nav-link.settings-icon{
		text-align: end;
	}
	#search-div, #reset-div{
		width: 80%;
	}
	#order-div{
		width: 40%;
		float: left;
	}
	#page-div{
		width: 40%;
	}

	#total-reports {
		margin-top: 15px;
	}
	#new-graph-form{
		max-width: 500px;
		transform: translate(-53%,-50%);
	}
	.form-property-lv1, .form-property-lv2,
	.form-property-lv4 {
		width: 50%;
	}
	#new-graph-val-name, #new-graph-val-label, #new-graph-val-taken {
		margin-bottom: 10px;
	}

	.form-property-lv3, .form-property-lv5 {
		width: 100%;
	}

	#config-method {
		display: flex;
	}
	#method-title {
		width: 100%;
		margin-bottom: 10px;
	}
	#method-option {
		width: 50%;
		margin-bottom: 10px;
	}
	#method-update {
		width: 100%;
		display: inline;
	}
	#config-messages-div {
		margin-top: 15px;
		width: 100%;
	}
	#method-info-icon {
		margin-top: 5px;
	}
	.tooltip-text-method {
		margin-top: 20px;
		margin-left: 0px;
	}
	#config-data {
		margin-top: 0px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
	#search-div, #order-div, #page-div{
		width: 30%;
	}
	#reset-div {
		width: 90%;
	}

	#total-reports {
		margin-top: 15px;
	}
	#new-graph-form{
		max-width: 700px;
	}
	.form-property-lv2 {
		width: 50%;
	}
	.form-property-lv5 {
		width: 100%;
	}

	#config-method {
		display: flex;
	}
	#method-title {
		width: 100%;
		margin-bottom: 10px;
	}
	#method-option {
		width: 40%;
		margin-bottom: 10px;
	}
	#method-update {
		width: 20%;
		display: inline;
	}
	#config-messages-div {
		margin-top: 15px;
		width: 100%;
	}
	#method-info-icon {
		margin-top: 5px;
	}
	.tooltip-text-method {
		margin-top: 20px;
		margin-left: 0px;
	}
	#config-data {
		margin-top: 0px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
	#total-reports {
		margin-top: 15px;
	}
	#new-graph-form{
		max-width: 800px;
	}

	#config-method {
		display: flex;
	}
	#method-title {
		width: 100%;
		margin-bottom: 10px;
	}
	#method-option {
		width: 25%;
		margin-bottom: 10px;
	}
	#method-update {
		width: 50%;
		display: inline;
	}
	#config-messages-div {
		margin-top: 15px;
		width: 100%;
	}
	#method-info-icon {
		margin-top: 5px;
	}
	.tooltip-text-method {
		margin-top: 20px;
		margin-left: 0px;
	}
	#config-data {
		margin-top: 0px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#total-reports {
		margin-top: 15px;
	}
	#new-graph-form{
		max-width: 800px;
	}

	#config-method {
		display: flex;
	}
	#method-title {
		width: 100%;
		margin-bottom: 10px;
	}
	#method-option {
		width: 25%;
		margin-bottom: 10px;
	}
	#method-update {
		width: 50%;
		display: inline;
	}
	#config-messages-div {
		margin-top: 15px;
		width: 100%;
	}
	#method-info-icon {
		margin-top: 5px;
	}
	.tooltip-text-method {
		margin-top: 20px;
		margin-left: 0px;
	}
	#config-data {
		margin-top: 0px;
	}
}