body {
	min-height: 100%;
	background: #000;
}

/*-------------------BACKGROUND PAGE-------------------*/

.dark {
	position: fixed;
	z-index: 0;
	min-height:100%;
	width:100%;
	/*background: linear-gradient(to bottom, #404040 40%,#312036);*/
	background: linear-gradient(to bottom, #727272 50%, #2c2c2c);
	opacity: 0;
	transition: opacity 2s;
}

.page {
	position:absolute;
	min-height:100%;
	width:100%;
	/*background: linear-gradient(to bottom, #ffffff, #e0fff8);*/
	background: linear-gradient(to bottom, #ffffff, #d3d3d3);
	transition: 2s;
}

/*--------------------------MENU------------------------*/

#header{
	position: relative;
	z-index: 1;
	margin: 10px;
	margin-top: 20px;
    border-radius: 5px;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
}

#nav-space{
	display: none;
}

.nav.justify-content-end.settings-small{
	display: none;
}

#nav-part {
	padding-right: 0%;
	width: 33.33%;
	z-index: 1;
}

#logo {
	width: 40px;
	height: 40px;
}

#link-nav {
	color: rgba(116, 44, 145, 0.6);
}

#link-nav:hover, #link-nav-active {
	color: rgba(116, 44, 145, 1);
}

#settings-icon {
	cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	top: 4px;
	width: 35px;
	height: 17px;
	z-index: 1;
}
  
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
  
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(224, 224, 224);
	border:  rgba(116, 44, 145);
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2.5px;
	bottom: 2.25px;
	background-color: rgba(116, 44, 145, 0.6);
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: rgba(116, 44, 145, 0.6);
}
  
input:focus + .slider {
	box-shadow: 0 0 1px rgba(116, 44, 145, 0.6);
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 16px;
}
  
.slider.round:before {
	border-radius: 50%;
}

/*------------------------MENU-SM-----------------------*/

#menu-little{
    width: 60%;
    display: none;
    position: relative;
	z-index: 1;
    margin: 20px;
    margin-left: 20%;
    border-radius: 5px;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
}

#menu-item{
	text-align: center;
	color: rgba(116, 44, 145, 0.6);
	cursor: pointer;
}

#menu-item-active{
	text-align: center;
	color: rgba(116, 44, 145, 1);
}

#menu-item:hover{
	color: rgba(116, 44, 145, 1);
}

/*------------------------FILTERS-----------------------*/

#filters{
	padding-top: 10px;
}

#search-input, #order-by-input, #page-input{
	position: relative;
	z-index: 1;
	border: 0px;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
	color: rgba(116, 44, 145, 1.0);
}

#search-input::placeholder, #order-by-input::placeholder,
#page-input::placeholder{
	color: rgba(116, 44, 145, 0.6);
}

#button-addon2, #btn-access-page {
	position: relative;
	z-index: 1;
	margin-left: 0px;
	border: 0px;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
	color: rgba(116, 44, 145, 1.0);
}

#button-addon2:hover, #btn-access-page:hover {
	margin-left: 0px;
	border: 0px;
	background-color: rgba(116, 44, 145, 0.6);
	box-shadow:
	0px 5px 15px rgba(0, 0, 0, 0.1),
	0px -5px 15px rgba(0, 0, 0, 0.1);
	color: white;
}

/*--------------------------GRID------------------------*/

.auto-grid {
	position: relative;
	z-index: 1;
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
	list-style-type:none;
	padding-left: 10px;
	padding-right: 10px;
}
  
.api-summary{
	cursor: pointer;
}
  
.widget{
	width: 60%;
	align-items: center;
	margin: auto;
	margin-right: 0%;
}
  
.widget-summary{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.4);
	box-shadow:
	0px 3px 15px rgba(0, 0, 0, 0.10),
	0px -3px 15px rgba(0, 0, 0, 0.10);
}
  
.widget-summary:hover{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border: 2px solid rgba(116, 44, 145, 0.4);
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

.chart-text {
	fill: #000;
	-moz-transform: translateY(0.25em);
	-ms-transform: translateY(0.25em);
	-webkit-transform: translateY(0.25em);
	transform: translateY(0.25em);
}
  
.chart-number {
	font-size: 0.7em;
	line-height: 1;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
}
  
.chart-label {
	font-size: 0.3em;
	text-transform: uppercase;
	text-anchor: middle;
	-moz-transform: translateY(0.7em);
	-ms-transform: translateY(0.7em);
	-webkit-transform: translateY(0.7em);
	transform: translateY(0.7em);
}
  
.data{
	position: relative;
	width: 34%;
	float:left;
	margin: 3% 3% 3% 3%;
}
  
#name{
	font-size: 1rem;
	text-align: center;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	margin-top: 20%;
}
  
#launch-date{
	color: #8a8a8a;
	font-size: 0.8rem;
	text-anchor: middle;
	text-align: left;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20%;
}

#pages-access-div{
	margin-bottom: 20px;
}

/*------------------------SUMMARY-----------------------*/

#summary-info {
	margin-top: 10vh;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding-bottom: 8px;
}

#sum-col {
	position: relative;
	border: 0px;
	margin: 5px;
	width: 30%;
	z-index: 1;
}

#total-reports {
	position: relative;
	z-index: 1;
}

.tooltip-text {
    position: absolute;
    display: none;
    background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 12px;
    border-radius: 3px; 
    transition: opacity 1s ease-out;
    min-width: 150px;
}
.far {
    font-size: 12px;
    transition: .5s ease-in-out;
}
.far.fa-question-circle:hover + .tooltip-text {
    display: block;
    color: black;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*-------------------------CONFIG-----------------------*/

#config {
	margin-top: 10vh;
	background-color: rgba(235, 235, 235, 0.3);
	box-shadow:
	0px 10px 20px rgba(0, 0, 0, 0.10),
	0px -2px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 20px;
	z-index: 1;
}

#config-title, #config-user, #config-method {
	padding-bottom: 15px;
}

#config-data {
	margin-top: 5vh;
}

/*-------------------------MEDIA------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#nav-space{
		width: 33.33%;
		display: block;
	}
	.nav.links {
		display: none;
	}
	.nav.justify-content-end.settings{
		display: none;
	}
	.nav.justify-content-end.settings-small{
		display: block;
	}
	.nav-link.settings-icon{
		text-align: end;
	}
	#search-div, #order-div, #page-div{
		width: 80%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
	#nav-space{
		width: 33.33%;
		display: block;
	}
	.nav.links {
		display: none;
	}
	.nav.justify-content-end.settings{
		display: none;
	}
	.nav.justify-content-end.settings-small{
		display: block;
	}
	.nav-link.settings-icon{
		text-align: end;
	}
	#search-div{
		width: 80%;
	}
	#order-div{
		width: 40%;
		float: left;
	}
	#page-div{
		width: 40%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
	#search-div, #order-div, #page-div{
		width: 30%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}