@charset "UTF-8";

html, body{
	min-height: 100%;
}

body{
	position: relative;
}

/*Individual Page*/

#link{
	font-size: 1.4rem;
}

#link2{
	font-size: 1.1rem;
}

#title-cont{
	background-color: #f8f9fa;
	padding-left: 0%;
	padding-right: 0%;
}

#nav-cont{
	background-color: #f8f9fa;
	padding-left: 0%;
	padding-right: 0%;
}

.returnToHome{
	position: absolute;
	right: 3%;
	bottom: 5%;
	width: 10%;
	height: 5%;
	z-index: 10;
}

.buttonToHome{
	padding: 5% 10% 5% 10%;
	font-size: 19px;
	background-color: #377bbc;
	border: none;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}

.buttonToHome:hover{
	padding: 5% 10% 5% 10%;
	font-size: 19px;
	background-color: white;
	border: 2px solid #377bbc;
	border-radius: 5px;
	text-decoration: none;
	color: #377bbc;
}

.auto-grid {
	--auto-grid-min-size: 16rem;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
	list-style-type:none;
	padding-left: 10px;
	padding-right: 10px;
}
  
.apiSummary{
	cursor: pointer;
}
  
.widget{
	width: 60%;
	align-items: center;
	margin: auto;
	margin-right: 0%;
}
  
.widget_summary{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border: 1px solid #E7E7E7;
	border-radius: 20px;
}
  
.widget_summary:hover{
	margin: 0.5% 0.5% 0.5% 0.5%;
	border: 2px solid #ADADAD;
	border-radius: 20px;
}

.chart-text {
	fill: #000;
	-moz-transform: translateY(0.25em);
	-ms-transform: translateY(0.25em);
	-webkit-transform: translateY(0.25em);
	transform: translateY(0.25em);
}
  
.chart-number {
	font-size: 0.7em;
	line-height: 1;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
}
  
.chart-label {
	font-size: 0.3em;
	text-transform: uppercase;
	text-anchor: middle;
	-moz-transform: translateY(0.7em);
	-ms-transform: translateY(0.7em);
	-webkit-transform: translateY(0.7em);
	transform: translateY(0.7em);
}
  
.description{
	position: relative;
	width: 34%;
	float:left;
	margin: 3% 3% 3% 3%;
}
  
#API_title{
	font-size: 17px;
	text-align: center;
	text-anchor: middle;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	margin-top: 20%;
}
  
#API_description{
	color: #8a8a8a;
	font-size: 12px;
	text-anchor: middle;
	text-align: left;
	-moz-transform: translateY(-0.25em);
	-ms-transform: translateY(-0.25em);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20%;
 }

 #errorMessageInputEmpty{
	color: rgb(252, 90, 90);
 }

 #generalInput{
	width: 40%;
 }

 #spaceTab{
	width: 44%;
 }

 #spaceTab:hover{
	border-color: white;
	border-bottom-color:#dee2e6;
 }

 #generalInput:hover{
	border: 2px white;
 }

 #nav-summary-tab{
	font-size: 1.1rem;
	color: #495057;
 }

 #nav-details-tab{
	font-size: 1.1rem;
	color: #495057;
 }

 /*General Page*/
 
 #sum-col{
	border: 1px solid #dee2e6;
	border-radius: 10px;
	margin: 5px;
	min-height: 80%;
	padding-bottom: 2%;
 }

 .donut-status{
	 width: 70%;
	 display: block;
	 margin: auto;
 }

 #status{
	 margin: 1rem;
 }

 .tooltip-text {
    position: absolute;
    display: none;
    background: ghostwhite;
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px; 
    transition: opacity 1s ease-out;
}
.far {
    font-size: 16px;
    transition: .5s ease-in-out;
}

.far.fa-question-circle:hover + .tooltip-text {
    display: block;
    color: black;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*Severity Chart*/

.severity-chart{
	display: block;
	margin: auto;
	padding-top:5%;
}

.severity-bar{
	fill: #6dd6cd;
}

.severity-plot{
	-moz-transform: translate(7.5%, 35.5%);
}

.severity-axis-x{
	-moz-transform: translate(7%, 83.5%);
}

.severity-axis-y{
	-moz-transform: translate(11%, 4%);
}

.severity-x-tick-1{
	-moz-transform: translate(19%, 0%);
}

.severity-x-tick-1-line{
	-moz-transform: translate(3.5%, 0%);
}

.severity-x-tick-2{
	-moz-transform: translate(37%, 0%);
}

.severity-x-tick-2-line{
	-moz-transform: translate(3.5%, 0%);
}

.severity-x-tick-3{
	-moz-transform: translate(55%, 0%);
}

.severity-x-tick-3-line{
	-moz-transform: translate(3.5%, 0%);
}

.severity-x-tick-4{
	-moz-transform: translate(72.5%, 0%);
}

.severity-x-tick-4-line{
	-moz-transform: translate(3.5%, 0%);
}

.severity-x-tick-5{
	-moz-transform: translate(89%, 0%);
}

.severity-x-tick-5-line{
	-moz-transform: translate(3.5%, 0%);
}

.severity-x-tick-text{
	-moz-transform: translate(-4.5%, 0%);
}

.severity-y-h-line{
	-moz-transform: translate(0%, 0%);
}

.severity-y-v-line{
	-moz-transform: translate(0%, 0%);
}

.severity-y-tick-0{
	-moz-transform: translate(0%, 79.5%);
}

.severity-y-tick-1{
	-moz-transform: translate(0%, 72%);
}

.severity-y-tick-2{
	-moz-transform: translate(0%, 64%);
}

.severity-y-tick-3{
	-moz-transform: translate(0%, 56%);
}

.severity-y-tick-4{
	-moz-transform: translate(0%, 48%);
}

.severity-y-tick-5{
	-moz-transform: translate(0%, 40%);
}

.severity-y-tick-6{
	-moz-transform: translate(0%, 32%);
}

.severity-y-tick-7{
	-moz-transform: translate(0%, 24%);
}

.severity-y-tick-8{
	-moz-transform: translate(0%, 16%);
}

.severity-y-tick-9{
	-moz-transform: translate(0%, 8%);
}

.severity-y-tick-10{
	-moz-transform: translate(0%, 0.2%);
}